config.stopBubbling=true
lombok.accessors.chain=true
lombok.addLombokGeneratedAnnotation=true
lombok.experimental.flagUsage=error
lombok.extern.findbugs.addSuppressFBWarnings=true
lombok.getter.noIsPrefix=true
lombok.log.fieldName=LOGGER
lombok.nonNull.exceptionType=IllegalArgumentException
lombok.singular.auto=false
